* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* My details */
.resume {
    width: 100%;
   
}

.contain {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
}

.profile {
    width: 429px;
    height: 1170px;
    border: 0px solid;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* the image */

.img {
    width: 429px;
    height: 350px;
    position: relative;
    object-fit: cover;
}

.name {
    position: absolute;
    top: 300px;
    left: 60px;
    font-family: "Roboto", sans-serif
}

/* icons */


.icon-skill-lang {
    width: 100%;
}

.icons {
    width: 92%;
    margin: auto;
    margin-top: 15px;
    color: green;
    font-family: "Roboto", sans-serif
}

.text-icon {
    margin-left: 15px;
    color: black;
}

/*icons over */

.main-skill {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 29px;
}

.skill-icon {
    display: flex;
    align-items: center;
    padding: 17px;
    color: green;
    gap: 15px;
}

.skill {
    color: black;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.value {
    width: 93%;
    margin: auto;
}

.value-bar {
    width: 90%;
    height: 25px;
    margin: auto;
    margin-bottom: 15px;
    /* border: 1px solid; */
    border-radius: 50px;
    position: relative;
    background-color: rgb(232, 232, 208);

}

.inside-bar {
    width: 90%;
    height: 25px;
    /* border: 1px solid; */
    border-radius: 50px;
    position: absolute;
    background-color: #009688;

}

.para {
    text-align: center;
    margin-top: 5px;
    color: beige;
}

.css {
    width: 70%;
    height: 25px;
    border-radius: 50px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
}

.java-Script {
    width: 50%;
    height: 25px;
    border-radius: 50px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;

}

.python {
    width: 30%;
    height: 25px;
    border-radius: 50px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-lang {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 29px;

}

.lang {
    display: flex;
    align-items: center;
    padding: 17px;
    color: green;
    gap: 15px;
}

.lan {
    color: black;
}

.tamil {
    width: 100%;
    height: 25px;
    border-radius: 50px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
}

.english {
    width: 70%;
    height: 25px;
    border-radius: 50px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
}

.malayalam {
    width: 50%;
    height: 25px;
    border-radius: 50px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Profile Over */



/* work exp */

.body-of-all{
    width: 100%;
    margin-top: 20px;
}


.main{
    display: flex;
    width: 99%;
    margin: auto;
}
.secound-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col-one{
    width: 880px;
    height: 580px;
    border: 0px solid;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.work{
    width: 100%;
}

.work-exp{
    width: 95%;
    margin: auto;
}
.work-icon{
    margin-top: 30px;
}
.icon-case{  
    color: black;
    display: flex;
    gap: 20px;
    font-family: "Roboto", sans-serif
}

.color{
    color: #009688;
    
}
.front{
    margin-top: 45px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif
}
.year{
    margin-top: 10px;
    margin-left: 15px;
    font-family: "Roboto", sans-serif
}
.day{
    color: #009688;
    font-size: 17px;
}
.but{
    background-color: #009688;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5PX;
    font-size: 17px;
}
.discrib{
    margin-top: 10px;
    margin-left: 15px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    
    
}







.col-two{
    width: 880px;
    height: 580px;
    border: 0px solid;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.education{
    width: 100%;

}

.qualification{
    width: 98%;
    margin: auto;
}



.bottom{
    margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

    width: 100%;
    height: 120px;
    border: 0px solid;
    background-color: #009688;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.link{
font-family: "Roboto", sans-serif;
color: white;
font-size: 15px;
}
    
.id-link{
   color: white;
}